*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }

  body{
    background-color: rgb(243, 243, 243);
  }

  header{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header>.container{
    margin-right: 4.16666667%;
    margin-left: 4.16666667%;
}
.header-inner{
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    max-width: 400px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header .nav-a>ul>li{
    position:relative;
    display: block;
    text-align: justify;
    display: inline-block; 
    border-right: 1px solid gray;
    padding-right: 10px;
    padding-left: 10px;
}
header .nav-a>ul>li:nth-child(4){
    border-right:none
}

header .nav-a>ul>li>.tittle{
    vertical-align: inherit;
    text-decoration: none;
    color: rgb(16, 16, 16);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.circle{
    color: rgb(17, 89, 68);
    display: inline-block;
    background-color: rgb(17, 89, 68);
    width: 50px;
    height: 50px;
    border-radius: 99em;
    margin-bottom: -15px;

}

.logo a{
    display: inline-block;
    color: rgb(16, 16, 16);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-left: 5px;
    letter-spacing: 0.5px;
    font-weight: 510;
}
.nav-a .tittle:hover{
    border-bottom: 1px solid rgb(68, 67, 67);
}

/*//////////// main ///////////*/
.main{
    display: block;
}
.main-container{
    margin: auto;
    width: 83.333333%;
    max-width: 1200px;
}
.main-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 110px;
}
.hello{
    display: block;
    color: rgb(16, 16, 16);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 530;
    line-height: 100px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.a-bit{
    display: block;
    color: rgb(16, 16, 16);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 530;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.about-me{
    display: block;
    color: rgb(16, 16, 16);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 10px;
    letter-spacing: 1px;
    
}
.main-row dt>a>img{
    display: inline-block;
    margin-right:10px
}
.pointer{
    cursor: pointer;
}

/*//////////// footer ///////////*/

.footer-container{
    margin: auto;
    width: 100%;
    max-width: 1350px;
    padding-top: 150px;
}
.footer-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid rgb(170, 168, 168);;
}

.smaill{
    font-size: 14px;
    letter-spacing: 1.5px;
}
.bold{
    font-size: 16px;
    font-weight: 510;
    letter-spacing: 1.5px;
    margin-bottom: 3px;
}


.h2{
    margin-left: 50px;
    margin-top: 30px;
    padding-left: 20px;
}
.circle-web{
     color: rgb(229, 241, 201);
    display: inline-block;
    background-color: rgb(229, 241, 201);
    width: 50px;
    height: 50px;
    border-radius: 99em;
    margin-bottom: -15px;
}

.circle-uiux{
    color: rgb(196, 218, 120);
    display: inline-block;
    background-color: rgb(196, 218, 120);
    width: 50px;
    height: 50px;
    border-radius: 99em;
    margin-bottom: -15px;
}

.circle-graphic{
    color: rgb(196, 218, 120);
    display: inline-block;
    background-color: rgb(241, 158, 56);
    width: 50px;
    height: 50px;
    border-radius: 99em;
    margin-bottom: -15px;
}

/* 內容 */
.main-div{
    display: block;
}
.main-container{
    margin: auto;
    width: 83.333333%;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 70px;

}
/* .mainn-row{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */

.main-row a{
    display: inline-block;
}

.center{
    align-items: center;
}
.mg-bt{
    display: block;
    margin-bottom: 60px;
    border-radius: 20px;
}
.mg-at{
    display: block;
    margin-bottom: 60px;
    border-radius: 20px;
}

.link{
    display: inline-block;
    padding-top: 10px;
    color: rgb(86, 86, 86);
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(86, 86, 86);
    margin-bottom: 40px;
    font-size: 16px;
}

.uxui{
    max-width: 960px;
    margin-left: 16.6666667%;
}
.uxui>h3{
    margin-top: 60px;
    font-family:Arial, Helvetica, sans-serif;
    border-left: 15px solid rgb(196, 218, 120) ;
    padding-left: 8px;
}
main{
    display: block;
    width: 100%;
   
    
}
.web{
    max-width: 1200px;
    margin-left: 13%;
   
}
.web>h3{
    display: block;
    margin-top: 60px;
    border-left: 15px solid rgb(229, 241, 201) ;
    padding-left: 8px;
}
.web>h3 .li:nth-child(2){
    margin-left: none;
}

.web>.a-link{
    display: inline-block;
    padding-top: 10px;
    color: rgb(37, 74, 43);
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(37, 74, 43);
    margin-bottom: 40px;
    font-size: 16px;
    margin-left: 23px;
    
}
.web>img{
    display: block;
    margin-bottom: 100px;
}

.portfolio{
    margin-bottom: 40px;
}